.ex001 .azul{
    color: blue;
    background-color: yellow;
}

.verde{
    color: #0F0;
    background-color: #888;
}

.azul{
    color: white;
    background-color: blue;
}

.cinza{
    color: white;
    background-color: gray;
}